<%- include('partials/head'); -%>

<div id="fullPage">
	<section class="section main-section hero fp-auto-height-responsive" id="landing-section" data-anchor="landing">
		<div class="bg-clipper">
			<nav class="navbar navbar-dark pt-4">
				<a class="navbar-brand" href="#">ablin@dev</a>

				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" href="https://www.linkedin.com/in/ablin42/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="https://www.github.com/ablin42" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
					</li>
				</ul>
			</nav>

			<h3 class="col-md-8" data-animation="dropDownAnim">
				<%= text.pres1 %> <b> <i>{</i><%= text.pres2 %><i>}</i> </b> <%= text.pres3 %>
			</h3>
			<h1 class="hero-title" data-animation="dropDownAnim">Andréas Blin</h1>
			<h2 class="hero-secondary-title col-xl-6 offset-xl-1"><i>❝<%= text.quote %>❞</i></h2>

			<div class="call-wrapper offset-md-3 offset-sm-2 offset-xs-1">
				<a href="#portfolio" class="action-link portfolio-link" data-animation="portfolioLinkAnim">Portfolio</a>
				<div class="scroll-indicator" data-animation="indicatorAnim"></div>
			</div>

			<img src="/svg/undraw_freelancer.svg" class="freelancer-svg" alt="Freelance Illustration For Fullstack Web Developer" data-animation="freelancerAnim" draggable="false" />
		</div>
	</section>

	<section class="section main-section even fp-auto-height-responsive" id="portfolio-section" data-anchor="portfolio">
		<div class="bg-clipper">
			<div class="slide" id="xs-url">
				<div class="portfolio-item row">
					<div class="portfolio-thumbnail-wrapper p-0">
						<a href="http://www.xs-url.fr" target="_blank" data-animation="iphoneAnim" class="iphoneVert"
							><img src="/img/iphone7url.png" alt="Xs-url Xs url shortener service screenshot" draggable="false" class="iphone-class vertical"
						/></a>
						<a href="http://www.xs-url.fr" target="_blank" data-animation="iphoneAnim" class="iphoneSide"
							><img src="/img/iphone7urlside.png" alt="Xs-url Xs url shortener service screenshot horizontal" draggable="false" class="iphone-class"
						/></a>
					</div>

					<div class="portfolio-info">
						<h1 class="hero-title mt-4 mb-0 col-12" data-animation="dropDownAnim"><a href="http://www.xs-url.fr" target="_blank">Xs Url</a></h1>

						<p><%= text.xs.p1 %> <b><%= text.xs.shortener %></b> <%= text.xs.p2 %> <b><%= text.spoofing %></b> <%= text.xs.p3 %> <b>URL</b>.</p>
						<p><%= text.xs.p4 %> <b><%= text.CustomCSS %></b>. <%= text.xs.p5 %> <b>NodeJS</b> <%= text.xs.p6 %> <b>API</b> <%= text.xs.p7 %>.</p>
						<p class="last"><%= text.xs.last %> <b><%= text.lightmode %></b> <%= text.xs.last2 %> <b><%= text.darkmode %></b> <%= text.xs.last3 %>!</p>

						<div class="skills-used-large">
							<ul>
								<li>NodeJS</li>
								<li>API</li>
								<li><%= text.CustomCSS %></li>
								<li>Javascript</li>
							</ul>
							<div class="skill-call-wrapper">
								<a href="#skills" class="action-link m-auto"> <%= text.skills %> </a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="slide" id="maral">
				<div class="portfolio-item row">
					<div class="portfolio-thumbnail-wrapper p-0">
						<a href="https://www.maral.fr" target="_blank" data-animation="iphoneAnim" class="iphoneVert"
							><img src="/img/iphone7.png" alt="Maral Art Paintings screenshot" draggable="false" class="iphone-class vertical"
						/></a>
						<a href="https://www.maral.fr" target="_blank" data-animation="iphoneAnim" class="iphoneSide"
							><img src="/img/iphone7side.png" alt="Maral Art Paintings screenshot horizontal" draggable="false" class="iphone-class"
						/></a>
					</div>

					<div class="portfolio-info">
						<h1 class="hero-title mt-4 mb-0 col-12" data-animation="dropDownAnim"><a href="https://www.maral.fr" target="_blank">Maral</a></h1>

						<p>
							<%= text.maral.p1 %> <b>e-commerce</b> <%= text.maral.p2 %> <b><a href="https://pwinty.com/" target="_blank"><%= text.pwinty %></a></b> <%= text.maral.p3 %>
							<b><a href="https://stripe.com/" target="_blank"><%= text.stripe %></a></b
							>.
						</p>
						<p>
							<%= text.maral.p4 %> <b><a href="https://getbootstrap.com/" target="_blank">Bootstrap</a></b> <%= text.maral.p5 %> <b>CSS</b> <%= text.maral.p6 %> <b>NodeJS</b> <%= text.maral.p7 %>
							<b><%= text.CustomAPI %></b> <%= text.maral.p8 %>.
						</p>
						<p class="last"><%= text.maral.last %>.</p>

						<div class="skills-used-large">
							<ul>
								<li>NodeJS</li>
								<li>API</li>
								<li>Pwinty</li>
								<li>Stripe</li>
								<li>Bootstrap</li>
							</ul>
							<div class="skill-call-wrapper">
								<a href="#skills" class="action-link m-auto"><%= text.skills %></a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="slide">
				<div class="portfolio-item row">
					<div class="portfolio-thumbnail-wrapper p-0">
						<!--	<a href="http://www.xs-url.fr" target="_blank" data-animation="iphoneAnim" class=" iphoneVert"><img src="/img/iphone7url.png" draggable="false" class="iphone-class" /></a>
						<a href="http://www.xs-url.fr" target="_blank" data-animation="iphoneAnim" class="iphoneSide"><img src="/img/iphone7urlside.png" draggable="false" class="iphone-class" /></a>-->
					</div>

					<div class="portfolio-info">
						<h1 class="hero-title mt-4 mb-0 col-12" data-animation="dropDownAnim"><a href="http://www.xs-url.fr" target="_blank">Covid Tracker</a></h1>
						<h2 class="text-center"><%= text.coming %>..?</h2>

						<div class="skills-used-large"></div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section main-section fp-auto-height-responsive" id="skills-section" data-anchor="skills">
		<div class="bg-clipper">
			<h1 class="hero-title pt-5 mb-0" data-animation="dropDownAnim"><%= text.skills %></h1>

			<div class="skill-content col-md-10 p-3">
				<p class="skills-text">{ <%= text.skillsTab.nonExhaustive %> }</p>
				<div class="skills-section">
					<h2>Front-end</h2>
					<div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 skills-wrapper">
						<h1 data-animation="leftBracketAnim">{</h1>
						<div class="wrapper-icon">
							<div>
								<img class="skill-icon" src="/img/icons/white/javascript_icon.png" alt="Javascript JS" draggable="false" />
							</div>
							<label>Javascript</label>
						</div>
						<div class="wrapper-icon">
							<div>
								<img class="skill-icon" src="/img/icons/white/jquery_icon.png" alt="JQuery" draggable="false" />
							</div>
							<label>JQuery</label>
						</div>
						<div class="wrapper-icon">
							<div>
								<img class="skill-icon" src="/img/icons/white/html_icon.png" alt="HTML5 HTML" draggable="false" />
							</div>
							<label>HTML5</label>
						</div>
						<div class="wrapper-icon">
							<div>
								<img class="skill-icon" src="/img/icons/white/css_icon.png" alt="CSS3 CSS" draggable="false" />
							</div>
							<label>CSS3</label>
						</div>
						<div class="wrapper-icon">
							<div>
								<img class="skill-icon" src="/img/icons/white/sass_icon.png" alt="SASS" draggable="false" />
							</div>
							<label>SASS</label>
						</div>
						<div class="wrapper-icon">
							<div>
								<img class="skill-icon" src="/img/icons/white/vuejs_icon.png" alt="Vuejs Vue.js" draggable="false" />
							</div>
							<label>Vue.js</label>
						</div>
						<div class="wrapper-icon">
							<div>
								<img class="skill-icon" src="/img/icons/white/bootstrap_icon.png" alt="Bootstrap" draggable="false" />
							</div>
							<label>Bootstrap</label>
						</div>
						<h1 data-animation="rightBracketAnim">}</h1>
					</div>
				</div>

				<div class="skills-section">
					<h2>Back-end</h2>
					<div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 skills-wrapper">
						<h1 data-animation="leftBracketAnim">{</h1>
						<div class="wrapper-icon">
							<div>
								<img class="skill-icon" src="/img/icons/white/nodejs_icon.png" alt="NodeJS Node.js" draggable="false" />
							</div>
							<label>NodeJS</label>
						</div>
						<div class="wrapper-icon">
							<div>
								<img class="skill-icon" src="/img/icons/white/php_icon.png" alt="PHP" draggable="false" />
							</div>
							<label>PHP</label>
						</div>
						<div class="wrapper-icon">
							<div>
								<img class="skill-icon" src="/img/icons/white/database_icon.png" alt="Database SQL NoSQL" draggable="false" />
							</div>
							<label>SQL / noSQL</label>
						</div>
						<div class="wrapper-icon">
							<div>
								<img class="skill-icon" src="/img/icons/white/api_icon.png" alt="API" draggable="false" />
							</div>
							<label>API</label>
						</div>
						<div class="wrapper-icon">
							<div>
								<img class="skill-icon" src="/img/icons/white/s3_icon.png" alt="AWS AMAZON WEB SERVICE S3" draggable="false" />
							</div>
							<label>S3</label>
						</div>
						<h1 data-animation="rightBracketAnim">}</h1>
					</div>
				</div>

				<div class="skills-section">
					<h2><%= text.skillsTab.misc %></h2>
					<div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 skills-wrapper">
						<h1 data-animation="leftBracketAnim">{</h1>
						<div class="wrapper-icon">
							<div>
								<img class="skill-icon" src="/img/icons/white/git_icon.png" alt="Git" draggable="false" />
							</div>
							<label>Git</label>
						</div>
						<div class="wrapper-icon">
							<div>
								<img class="skill-icon" src="/img/icons/white/docker_icon.png" alt="Docker" draggable="false" />
							</div>
							<label>Docker</label>
						</div>

						<div class="wrapper-icon">
							<div>
								<img class="skill-icon" src="/img/icons/white/console_icon.png" alt="Shell" draggable="false" />
							</div>
							<label>Shell</label>
						</div>
						<h1 data-animation="rightBracketAnim">}</h1>
					</div>
				</div>
				<a href="#contact" class="action-link m-auto"><%= text.contactTab.contactMe %> !</a>
			</div>
		</div>
	</section>

	<section class="section main-section even fp-auto-height-responsive" id="contact-section" data-anchor="contact">
		<div class="bg-clipper">
			<h1 class="hero-title pt-5" data-animation="dropDownAnim"><%= text.contactTab.contact %></h1>

			<form class="col-md-6 col-sm-8 offset-sm-2" id="contact-form" method="POST" data-animation="formAnim" action="/api/contact/">
				<div class="row">
					<div class="col-md-12">
						<label class="control-label"><%= text.contactTab.email %></label>
						<input placeholder="<%= text.contactTab.placeholderEmail %>" type="email" name="email" id="email" required />
					</div>
				</div>
				<div class="row mt-2">
					<div class="col-md-12">
						<label class="control-label"><%= text.contactTab.object %></label>
						<input placeholder="<%= text.contactTab.placeholderObject %>" type="text" name="title" id="title" required />
					</div>
					<div class="col-md-12 mt-2">
						<label class="control-label"><%= text.contactTab.message %></label>
						<textarea class="mb-0" id="content" rows="8" name="content" placeholder="<%= text.contactTab.placeholderMessage %>" required></textarea>
					</div>
				</div>

				<div class="submit-btn-wrapper">
					<span><%= text.contactTab.send %></span>
					<input type="submit" class="action-btn" value="<%= text.contactTab.send %>" id="submit-contact" />
				</div>
				<input type="hidden" name="_csrf" value="<%= csrfToken %>" />

				<div class="col-md-12 p-0 mt-3 contact-alert-wrapper">
					<div id="contact-alert"></div>
				</div>
			</form>

			<img src="/svg/undraw_messages.svg" class="contact-svg" alt="Message me Contact Illustration for freelance web developer fullstack" data-animation="contactSvgAnim" draggable="false" />
			<div class="contact-footer">
				<ul>
					<li><i class="fas fa-phone"></i> <span>+33 6 89 89 81 98</span></li>
					<li><span>freelance@ablin.dev </span><i class="fas fa-envelope"></i></li>
				</ul>
			</div>
		</div>
	</section>
</div>

<script src="/scripts/fullpageConfig.js"></script>
<script src="/scripts/icon_hover.js"></script>
<script src="/scripts/submit_contact.js"></script>
<%- include('partials/footer'); -%>
